In [1]:
import pandas as pd

In [73]:
url = 'https://raw.githubusercontent.com/alura-cursos/machine-learning-algoritmos-nao-supervisionados/master/movies.csv'
df = pd.read_csv(url)

In [74]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [75]:
df['title'].describe()

count                                       9742
unique                                      9737
top       Confessions of a Dangerous Mind (2002)
freq                                           2
Name: title, dtype: object

In [76]:
df['genres'].describe()

count      9742
unique      951
top       Drama
freq       1053
Name: genres, dtype: object

Listing all genres and creating columns to One Hot Encoding

In [77]:
all_genres = set()
for i in range(0, len(df)):
    all_genres = all_genres.union(set(df['genres'][i].split('|')))
all_genres = list(all_genres)

In [78]:
for genre in all_genres:
    df[f'{genre}'] = 0

In [79]:
df.head()

,movieId,title,genres,Thriller,Crime,Sci-Fi,Musical,Horror,Documentary,Comedy,...,(no genres listed),Children,Animation,Mystery,Fantasy,IMAX,Adventure,War,Drama,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Setting 1 to genres for each movie

In [82]:
for i in range(0, len(df)):
    movie_genres = df['genres'][i].split('|')
    for genre in movie_genres:
        df[f'{genre}'][i] = 1

C:\Users\lucasrcs\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [83]:
df.head()

,movieId,title,genres,Thriller,Crime,Sci-Fi,Musical,Horror,Documentary,Comedy,...,(no genres listed),Children,Animation,Mystery,Fantasy,IMAX,Adventure,War,Drama,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,0,0,0,0,1,...,0,1,1,0,1,0,1,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [84]:
df.describe()

,movieId,Thriller,Crime,Sci-Fi,Musical,Horror,Documentary,Comedy,Action,Film-Noir,...,(no genres listed),Children,Animation,Mystery,Fantasy,IMAX,Adventure,War,Drama,Western
count,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,...,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000,9742.000000
mean,42200.353623,0.194416,0.123075,0.100595,0.034285,0.100390,0.045165,0.385547,0.187641,0.008930,...,0.003490,0.068158,0.062718,0.058817,0.079963,0.016218,0.129645,0.039212,0.447649,0.017142
std,52160.494854,0.395771,0.328541,0.300808,0.181968,0.300535,0.207677,0.486749,0.390445,0.094083,...,0.058976,0.252031,0.242468,0.235295,0.271250,0.126321,0.335930,0.194108,0.497277,0.129808
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3248.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7300.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,76232.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,193609.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000